<div class="container">
	<div class="jumbotron">
		<p>Register</p>
		<div class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="usernameInput">Username</label>
				<input id="usernameInput" #username type="text" class="form-control" placeholder="username">
			</div>
			<div class="form-group">
				<label class="sr-only" for="passwordInput">Password</label>
				<input id="passwordInput" #password type="password" class="form-control" placeholder="password">
			</div>
			<div class="form-group">
				<label class="sr-only" for="fnInput">First Name</label>
				<input id="fnInput" #firstName type="text" class="form-control" placeholder="first name">
			</div>
			<div class="form-group">
				<label class="sr-only" for="lnInput">Last Name</label>
				<input id="lnInput" #lastName type="text" class="form-control" placeholder="last name">
			</div>
			<button (click)="addUser(firstName.value, lastName.value, username.value, password.value)" class="btn btn-default">Register</button>
		</div>
		<div *ngIf="message" class="container" >
			<h2>Message of the Day:</h2> <br>
			<h2>{{message}}</h2>
			<button (click)="getRandomMessage()" class="btn btn-xs">Get a new message</button>
		</div>
		<br />
		<ul class="heroes">
			<!-- *ngFor is a specific type of directive called a structural directive, so is *ngIf -->
			<li *ngFor="let user of users">
				
			  <!-- each hero goes here -->
				<span class="badge">ID: {{user.id}}</span> <span>Name: {{user.firstName}} {{user.lastName}}</span>
				<br><span class="badge">{{user.username}}</span> <span>Password: {{user.password}}</span>
			  
			</li>
		  </ul>
	</div>
</div>